/*==== UTILITIES ====*/
.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom__button {
  width: 105px;
  height: 34px;
  border-radius: 10px;
  border: 1px var(--color-blue) solid;

  background: var(--color-blue);
  color: var(--color-white);
  font: normal 22px var(--font-base);

  cursor: pointer;
  display: inline-block;
}

.custom__button:hover {
  transform: scale(0.96);
}

.custom__card {
  background-color: var(--color-white);
  color: var(--color-gray);

  border-radius: 14px;
  border: 1px solid var(--color-grey-alt);

  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*==== NAVBAR ====*/
.navbar__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 12rem;
}

.navbar__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar__title {
  font: bold 72px var(--font-base);
  color: var(--color-dark-blue);
  text-align: center;
  position: relative;
}

.navbar__title::after {
  content: '';
  width: 88%;
  border: 1px solid;
  position: absolute;

  bottom: 0;
  left: 6%;
}

.navbar__title span {
  font-style: italic;
  font-weight: normal;
}

.navbar__menu {
  width: 46px;
  position: relative;
  left: 46px;
}

.navbar__menu img {
  cursor: pointer;
}

.navbar__menu img:hover {
  transform: scale(0.96);
}

/*==== MENU ====*/
.menu__overlay-back {
  background-color: rgba(0, 0, 0, 0.7);

  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;

  top: 0;
  left: 0;
}

.menu__container {
  width: 514px;
  padding: 1.5rem 1.5rem 2.5rem;

  position: fixed;
  z-index: 2;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu__container h2 {
  position: relative;
}

.menu__container h2::after {
  content: '';
  width: 100%;
  border: 1px solid rgba(182, 182, 182, 1);
  position: absolute;

  bottom: -16px;
  left: -1px;
}

.menu__functions {
  margin-top: 59px;
}

.menu__dark-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__dark-mode .custom__check {
  position: relative;
  display: block;
  width: 80px;
  height: 34px;
  background: var(--color-light-grey);
  cursor: pointer;
  border-radius: 25px;
  overflow: hidden;
  transition: ease-in 0.5s;
}

.menu__dark-mode .custom__check:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 5px;
  background: var(--color-white);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: 0.5s;
}

.menu__background {
  margin-top: 26px;
}

.menu__background-form {
  width: 100%;
  height: 43px;

  position: relative;
  background: #fbfbfb;
  margin-top: 14px;
  border-radius: 10px 10px 0 0;
}

.menu__background-form::after {
  content: '';
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: absolute;

  bottom: 0;
  left: -1px;
}

.menu__background-form input[type='url'] {
  width: 98%;
  height: 88%;
  background: #fbfbfb;
}

.menu__buttons {
  display: flex;
  justify-content: space-between;

  margin-top: 16px;
}

.menu__buttons .menu__button-clear {
  background-color: #fff;
  color: rgba(48, 113, 217, 1);
}

/*==== MAIN ====*/
.main__container {
  width: 100%;
  padding: 1.5rem 12rem;
}

.main__cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 4rem;
}

.main__cards div {
  width: 300px;
  height: 350px;
  overflow: auto;
}

.main__cards h2 {
  position: relative;
  margin-top: 18px;
}

.main__cards h2::after {
  content: '';
  width: 84%;
  border: 1px solid var(--color-grey-alt);
  position: absolute;

  bottom: -10px;
  left: 8%;
}

/*==== DARK MODE ====*/
.dark-mode {
  height: 100vh;
  background: var(--color-black-alt);
}

.dark-mode .custom__card {
  background-color: var(--color-gray-alt);
  border: 0;
}

.dark-mode .main__tasks-list::after {
  border: 1px solid var(--color-gray-alt);
}

.dark-mode .main__task {
  color: var(--color-white);
}

.dark-mode .main__task::after {
  border: 1px solid var(--color-gray);
}

.dark-mode h2,
.dark-mode h3 {
  color: var(--color-light-grey);
}

.dark-mode input::placeholder {
  color: var(--color-light-grey);
}

.dark-mode input[type='text'] {
  background-color: var(--color-gray-alt);
  color: var(--color-white);
}

.dark-mode input[type='url'],
.dark-mode .menu__background-form {
  background-color: var(--color-black-alt);
  color: var(--color-white);
}

.dark-mode .menu__background-form::after {
  border: 1px solid var(--color-grey);
}

.dark-mode .menu__button-clear {
  background-color: var(--color-gray-alt);
  color: var(--color-white);
}

.dark-mode .main__add-icon {
  background-color: rgba(0, 0, 0, 0);
}

.dark-mode input:-webkit-autofill,
.dark-mode input:-webkit-autofill:hover,
.dark-mode input:-webkit-autofill:focus,
.dark-mode input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--color-gray-alt) inset !important;
  -webkit-text-fill-color: var(--color-white) !important;
  caret-color: var(--color-white);
}

.dark-mode .navbar__menu input:-webkit-autofill,
.dark-mode .navbar__menu input:-webkit-autofill:hover,
.dark-mode .navbar__menu input:-webkit-autofill:focus,
.dark-mode .navbar__menu input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--color-black-alt) inset !important;
}

.dark-mode div::-webkit-scrollbar-track {
  background-color: var(--color-gray-alt);
}

.dark-mode div::-webkit-scrollbar-thumb {
  border: 2px solid var(--color-gray-alt);
}

@media screen and (min-width: 1720px) {
  .navbar__container {
    padding: 3rem 12rem;
  }

  .main__cards div {
    width: 400px;
    height: 450px;
  }

  .main__cards h2::after {
    width: 88%;
    left: 6%;
  }

  .main__cards ul li img {
    width: 17px;
    height: 17px;

    margin-left: 16px;
  }

  .main__cards ul li {
    font-size: 16px;
  }
}

@media screen and (max-width: 1350px) {
  .navbar__menu {
    left: 0;
    justify-content: center;
  }

  .navbar__menu img {
    float: right;
  }

  .main__container {
    padding: 1.5rem 0 4rem;
  }

  .main__cards {
    display: grid;
    justify-content: center;
    margin: 0;
  }

  .main__cards div {
    margin-top: 4rem;
  }

  .dark-mode {
    height: 100%;
  }
}

@media screen and (max-width: 1150px) {
  .navbar__container {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 650px) {
  .navbar__container {
    justify-content: center;
    padding: 2rem 0;
  }

  .navbar__logo {
    display: none;
  }

  .navbar__menu {
    margin-left: 20px;
  }

  .menu__container {
    width: 350px;
    padding: 1rem 1.5rem 2rem;
  }
}
